.quizz h1, .quizz h2, .quizz h3 {
    word-wrap: break-word;
}

.page-2 {
    width: 100%;

    margin-top: 69px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.quizz {
    width: 100%;
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.banner {
    height: 142px;
    width: 100%;
    background-color: black;
    position: relative;
    text-align: center;
}

.banner img {
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.banner .title {
    color: white;
    font-size: 19px;
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.quizz-questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    margin-top: 24px;
}

.question, .result {
    width: 100%;
    max-width: 759px;
    padding: 18px;
}

.question .title {
    max-width: 727px;
    height: 89px;
    background-color: #434CA0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-wrap: break-word;
}

.quizz .title h2 {
    color: white;
    font-weight: 700;
    font-size: 19px;
}

.question .options {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 13px;
}

.question .options .answer {
    width: 48%;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.question .options .answer img {
    width: 100%;
    height: 100%;
}

.question .options .answer h3 {
    margin-top: 3px;
    font-size: 13px;
    font-weight: 700;
}

.not-selected {
    opacity: 0.3;
}

.result {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.result .title {
    width: 100%;
    background-color: #EC362D;
    height: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
}

.result .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 21px;
}

.result img {
    width: 100%;
    max-width: 364px;
}

.result h3 {
    color: #484848;
    font-size: 17px;
    font-weight: 700;
}

.result .buttons {
    margin-top: 57px;
}

.quizz .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 85px;
}

.quizz .restart-btn, .quizz .home-btn{
    width: 100%;
    max-width: 260px;
    height: 54px;
    font-size: 21px;
    margin-top: 5px;
    padding: 0 40px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.quizz .restart-btn {
    background-color: #EC362D;
    color: #FFF5F4;
}

.quizz .home-btn{
    background-color: #fff;
    color: #818181;
}

@media screen and (min-width: 1100px) {
    .banner .title {
        font-size: 39px;
    }
    .quizz h2 {
        font-size: 23px;
    }

    .quizz h3 {
        font-size: 20px;
    }

    
}
